<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @position.user_id %>
</p>

<p>
  <b>Map:</b>
  <%= @position.map_id %>
</p>

<p>
  <b>X:</b>
  <%= @position.x %>
</p>

<p>
  <b>Y:</b>
  <%= @position.y %>
</p>


<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
