<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Is_Multi:</b>
  <%= @task.is_multi %>
</p>

<p>
  <b>Level:</b>
  <%= @task.level %>
</p>

<p>
  <b>Category:</b>
  <%= @task.category %>
</p>

<p>
  <b>Map:</b>
  <%= @task.map_id %>
</p>

<p>
  <b>Status:</b>
  <%= @task.status %>
</p>

<p>
  <b>x:</b>
  <%= @task.x %>
</p>

<p>
  <b>y:</b>
  <%= @task.y %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
