<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Phoneid</th>
    <th>Age</th>
    <th>Interest</th>
    <th>Agility</th>
    <th>Strength</th>
    <th>Arithmatic</th>
    <th>Logic</th>
    <th>Literature</th>
    <th>Teamwork</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.phoneID %></td>
    <td><%= user.age %></td>
    <td><%= user.interest %></td>
    <td><%= user.agility %></td>
    <td><%= user.strength %></td>
    <td><%= user.arithmatic %></td>
    <td><%= user.logic %></td>
    <td><%= user.literature %></td>
    <td><%= user.teamwork %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
